* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: 2px solid black;
    margin: 30px;
    width: 50%;
}
.header{
    border: 1px solid black;
    background-color: red;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.nav{
    border: 1px solid black;
    background-color: rgb(19, 96, 251);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.sec-art{
    border: 1px solid black;
    display: inline-block;
    width: 350px;
    height: 80px;
    color: white;
    text-align: center;
}
.section{
    
    background-color: rgb(208, 161, 5);
    margin: 10px;
    padding: 20px;
   
}
.article{
    background-color: rgb(252, 113, 0);
    margin-left: -103%;
    margin-top: 100px;
    padding: 20px;
}
.aside{
    border: 1px solid black;
    background-color: rgb(228, 0, 205);
    color: white;
    margin-left: -105%;
    text-align: center;
    padding: 60px;
    width: 300px;
    height: 170px;
    margin-top: 10px;
    display: inline-block;
}
.content{
    display: flex; 
}
.footer{
    border: 1px solid black;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
